.grid-container {
    display: grid;
    grid-gap: 10px;
}

.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}
.header {
    background-color: white;
    color: white;
    padding: 20px;
    opacity: 80%;
}

.main-content {
    padding: 20px;
    /* Add additional styles for your main content */
}